In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import os

In [2]:
data = pd.read_csv("C:/Users/mdabd/Downloads/UK Gender Pay Gap Data - 2017 to 2018.csv")

In [3]:
data_new = pd.read_csv("C:/Users/mdabd/Downloads/UK Gender Pay Gap Data - 2018 to 2019.csv")

In [4]:
data.columns

Index(['EmployerName', 'Address', 'CompanyNumber', 'SicCodes',
       'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline', 'DueDate', 'DateSubmitted'],
      dtype='object')

In [5]:
data.shape

(10565, 25)

In [6]:
data.head()

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,"""Bryanston School"",Incorporated","Bryanston House, Blandford, Dorset, DT11 0PX",00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,...,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL INCORPORATED,False,05/04/2018 00:00:00,27/03/2018 11:42:49
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED","19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,...,89.7,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2018 00:00:00,28/03/2018 16:44:25
2,118 LIMITED,"3 Alexandra Gate Ffordd Pengam, Ground Floor, ...",03951948,61900,1.7,2.8,13.1,13.6,70.0,57.0,...,50.0,58.0,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,05/04/2018 00:00:00,27/03/2018 19:10:41
3,123 EMPLOYEES LTD,"34 Roundhay Road, Leeds, England, LS7 1AB",10530651,78300,41.0,36.0,-69.8,-157.2,50.0,73.5,...,89.0,23.0,77.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,05/04/2018 00:00:00,04/05/2018 11:24:06
4,1610 LIMITED,"Hestercombe House, Cheddon Fitzpaine, Taunton,...",06727055,93110,-22.0,-34.0,-47.0,-67.0,25.0,75.0,...,70.0,24.0,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,05/04/2018 00:00:00,12/04/2018 17:03:26

In [7]:
data_new.columns

Index(['EmployerName', 'Address', 'CompanyNumber', 'SicCodes',
       'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline', 'DueDate', 'DateSubmitted'],
      dtype='object')

In [8]:
data_new.shape

(10831, 25)

In [9]:
data_new.head()

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,"Aberystwyth University, Penglais, Ceredigion, ...",RC000641,NaN,12.3,8.4,NaN,NaN,0.0,0.0,...,53.4,63.7,36.3,https://www.aber.ac.uk/en/equality/genderpayga...,Elizabeth Treasure (Vice-Chancellor),1000 to 4999,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,False,05/04/2019 00:00:00,03/04/2019 12:55:59
1,"""Bryanston School"",Incorporated","Bryanston House, Blandford, Dorset, DT11 0PX",00226143,85310,19.6,32.5,NaN,NaN,0.0,0.0,...,55.1,53.3,46.7,https://www.bryanston.co.uk/employment,Michael McGovern (Chief Operating Officer),500 to 999,BRYANSTON SCHOOL INCORPORATED,False,05/04/2019 00:00:00,03/04/2019 13:43:34
2,"""RED BAND"" CHEMICAL COMPANY, LIMITED","19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",SC016876,47730,7.7,-4.2,23.7,-75.2,22.2,82.0,...,88.4,20.3,79.7,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2019 00:00:00,01/04/2019 12:37:21
3,118 LIMITED,"3 Alexandra Gate Ffordd Pengam, Ground Floor, ...",03951948,61900,7.7,12.7,11.3,10.9,67.0,52.0,...,50.0,56.0,44.0,NaN,Michael Graham (CEO),1000 to 4999,118 LIMITED,False,05/04/2019 00:00:00,06/03/2019 13:26:24
4,123 EMPLOYEES LTD,"34 Roundhay Road, Leeds, England, LS7 1AB",10530651,78300,30.0,29.0,-10.0,69.0,46.0,74.0,...,83.0,25.0,75.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,False,05/04/2019 00:00:00,03/04/2019 15:43:17

In [10]:
data.isnull().sum()

EmployerName                    0
Address                         0
CompanyNumber                1359
SicCodes                      566
DiffMeanHourlyPercent           0
DiffMedianHourlyPercent         0
DiffMeanBonusPercent           24
DiffMedianBonusPercent         24
MaleBonusPercent                0
FemaleBonusPercent              0
MaleLowerQuartile               0
FemaleLowerQuartile             0
MaleLowerMiddleQuartile         0
FemaleLowerMiddleQuartile       0
MaleUpperMiddleQuartile         0
FemaleUpperMiddleQuartile       0
MaleTopQuartile                 0
FemaleTopQuartile               0
CompanyLinkToGPGInfo         2764
ResponsiblePerson            1677
EmployerSize                    0
CurrentName                     0
SubmittedAfterTheDeadline       0
DueDate                         0
DateSubmitted                   0
dtype: int64

In [11]:
data_new.isnull().sum()

EmployerName                    0
Address                         0
CompanyNumber                1343
SicCodes                      500
DiffMeanHourlyPercent           0
DiffMedianHourlyPercent         0
DiffMeanBonusPercent         1756
DiffMedianBonusPercent       1756
MaleBonusPercent                0
FemaleBonusPercent              0
MaleLowerQuartile               0
FemaleLowerQuartile             0
MaleLowerMiddleQuartile         0
FemaleLowerMiddleQuartile       0
MaleUpperMiddleQuartile         0
FemaleUpperMiddleQuartile       0
MaleTopQuartile                 0
FemaleTopQuartile               0
CompanyLinkToGPGInfo         3395
ResponsiblePerson            1692
EmployerSize                    0
CurrentName                     0
SubmittedAfterTheDeadline       0
DueDate                         0
DateSubmitted                   0
dtype: int64

In [12]:
data["Year"]= "2017-2018"
data.head()

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Year
0,"""Bryanston School"",Incorporated","Bryanston House, Blandford, Dorset, DT11 0PX",00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,...,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL INCORPORATED,False,05/04/2018 00:00:00,27/03/2018 11:42:49,2017-2018
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED","19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,...,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2018 00:00:00,28/03/2018 16:44:25,2017-2018
2,118 LIMITED,"3 Alexandra Gate Ffordd Pengam, Ground Floor, ...",03951948,61900,1.7,2.8,13.1,13.6,70.0,57.0,...,58.0,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,05/04/2018 00:00:00,27/03/2018 19:10:41,2017-2018
3,123 EMPLOYEES LTD,"34 Roundhay Road, Leeds, England, LS7 1AB",10530651,78300,41.0,36.0,-69.8,-157.2,50.0,73.5,...,23.0,77.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,05/04/2018 00:00:00,04/05/2018 11:24:06,2017-2018
4,1610 LIMITED,"Hestercombe House, Cheddon Fitzpaine, Taunton,...",06727055,93110,-22.0,-34.0,-47.0,-67.0,25.0,75.0,...,24.0,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,05/04/2018 00:00:00,12/04/2018 17:03:26,2017-2018

In [13]:
data_new["Year"]= "2018-2019"
data_new.head()

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Year
0,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,"Aberystwyth University, Penglais, Ceredigion, ...",RC000641,NaN,12.3,8.4,NaN,NaN,0.0,0.0,...,63.7,36.3,https://www.aber.ac.uk/en/equality/genderpayga...,Elizabeth Treasure (Vice-Chancellor),1000 to 4999,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,False,05/04/2019 00:00:00,03/04/2019 12:55:59,2018-2019
1,"""Bryanston School"",Incorporated","Bryanston House, Blandford, Dorset, DT11 0PX",00226143,85310,19.6,32.5,NaN,NaN,0.0,0.0,...,53.3,46.7,https://www.bryanston.co.uk/employment,Michael McGovern (Chief Operating Officer),500 to 999,BRYANSTON SCHOOL INCORPORATED,False,05/04/2019 00:00:00,03/04/2019 13:43:34,2018-2019
2,"""RED BAND"" CHEMICAL COMPANY, LIMITED","19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",SC016876,47730,7.7,-4.2,23.7,-75.2,22.2,82.0,...,20.3,79.7,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2019 00:00:00,01/04/2019 12:37:21,2018-2019
3,118 LIMITED,"3 Alexandra Gate Ffordd Pengam, Ground Floor, ...",03951948,61900,7.7,12.7,11.3,10.9,67.0,52.0,...,56.0,44.0,NaN,Michael Graham (CEO),1000 to 4999,118 LIMITED,False,05/04/2019 00:00:00,06/03/2019 13:26:24,2018-2019
4,123 EMPLOYEES LTD,"34 Roundhay Road, Leeds, England, LS7 1AB",10530651,78300,30.0,29.0,-10.0,69.0,46.0,74.0,...,25.0,75.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,False,05/04/2019 00:00:00,03/04/2019 15:43:17,2018-2019

In [14]:
final_data = pd.concat([data,data_new])
final_data.head()

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Year
0,"""Bryanston School"",Incorporated","Bryanston House, Blandford, Dorset, DT11 0PX",00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,...,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL INCORPORATED,False,05/04/2018 00:00:00,27/03/2018 11:42:49,2017-2018
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED","19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,...,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2018 00:00:00,28/03/2018 16:44:25,2017-2018
2,118 LIMITED,"3 Alexandra Gate Ffordd Pengam, Ground Floor, ...",03951948,61900,1.7,2.8,13.1,13.6,70.0,57.0,...,58.0,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,05/04/2018 00:00:00,27/03/2018 19:10:41,2017-2018
3,123 EMPLOYEES LTD,"34 Roundhay Road, Leeds, England, LS7 1AB",10530651,78300,41.0,36.0,-69.8,-157.2,50.0,73.5,...,23.0,77.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,05/04/2018 00:00:00,04/05/2018 11:24:06,2017-2018
4,1610 LIMITED,"Hestercombe House, Cheddon Fitzpaine, Taunton,...",06727055,93110,-22.0,-34.0,-47.0,-67.0,25.0,75.0,...,24.0,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,05/04/2018 00:00:00,12/04/2018 17:03:26,2017-2018

In [15]:
final_data = final_data.dropna()

In [16]:
final_data.isnull().sum()

EmployerName                 0
Address                      0
CompanyNumber                0
SicCodes                     0
DiffMeanHourlyPercent        0
DiffMedianHourlyPercent      0
DiffMeanBonusPercent         0
DiffMedianBonusPercent       0
MaleBonusPercent             0
FemaleBonusPercent           0
MaleLowerQuartile            0
FemaleLowerQuartile          0
MaleLowerMiddleQuartile      0
FemaleLowerMiddleQuartile    0
MaleUpperMiddleQuartile      0
FemaleUpperMiddleQuartile    0
MaleTopQuartile              0
FemaleTopQuartile            0
CompanyLinkToGPGInfo         0
ResponsiblePerson            0
EmployerSize                 0
CurrentName                  0
SubmittedAfterTheDeadline    0
DueDate                      0
DateSubmitted                0
Year                         0
dtype: int64

In [17]:
final_data.duplicated().sum()

0

In [18]:
final_data.shape

(11088, 26)

In [19]:
print(os.getcwd())

C:\Users\mdabd

In [21]:
final_data.to_excel("clean_data.xlsx")